/* Outer Layer Styles */
.pmaf-form-wrap {
	position: relative;
	overflow: hidden;
}

/* Fliter overlay */
.pmaf-form-wrap .pmaf-ani-overlay-set-3 .pm-fliter-bg {
    animation: hueanimateBg 4s linear infinite;
	background: transparent;
}
@keyframes hueanimateBg {
	100% {
		filter:hue-rotate(360deg);
	}
}

/* Label Styles */
.pmaf-field.pmaf-label-animate label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(20px);
    font-size: 16px;
    color: #243946;
    transition: .5s;
	background: transparent;
	padding: 0 25px;
}
.pmaf-field.pmaf-label-animate.pmaf-label-back label {
    transform: translateY(-5px);
}
@keyframes textShine {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

.pmaf-field.pmaf-hue-animate label {
	background: linear-gradient(
		to right,
		#7953cd 20%,
		#00affa 30%,
		#0190cd 70%,
		#764ada 80%
	);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	background-size: 500% auto;
	animation: textShine 5s ease-in-out infinite alternate;
}